.idea
epeg/.idea
epeg/.idea/*
epeg/appv/static/appv/gallery
epeg/appv/static/appv/media
epeg/appv/static/appv/gallery/*
epeg/appv/templatetags/__pycache__
epeg/appv/migrations/*
epeg/appv/__pycache__
epeg/appv/__pycache__/*
epeg/epeg/__pycache__
epeg/appv_admin/migrations
epeg/appv_admin/__pycache__


