{% load static %}
<!-- JQuery -->
<script type="text/javascript" src="{% static 'appv/js/jquery-3.4.1.min.js' %}"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="{% static 'appv/js/popper.min.js' %}"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="{% static 'appv/js/bootstrap.min.js' %}"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="{% static 'appv/js/mdb.min.js' %}"></script>
<script>
    // Animation init
    new WOW().init();

    // Material Select Initialization
    /*$(document).ready(function () {
      $('.mdb-select').material_select();
    });*/

</script>
<script type="text/javascript">
    $(window).on('load',function(){
        $('#modalAnnoncePlus').modal('hide');
    });
</script>
<script type="text/javascript">
    $('.carousel').carousel()
</script>
