

{% load static %}
{% load extras %}
<!-- Modal Edit -->
<div class="modal fade modalEditClass" id="modalAudio" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="col second-content align-self-center mx-auto text-center">
                    <audio id="audio_player" controls preload="metadata">
                        <source src="{{ MEDIA_URL|concat_string:sermon_latest.audio }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade modalEditClass" id="modalAnnoncePlus" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <!--div class="modal-body text-center">
                <div class="col second-content align-self-center mx-auto text-center"-->
                    <a href="https://www.portesouvertes.fr/" target="_blank">
                      <img src="{% static 'appv/img/cartes/joyeuxnoel.png' %}" alt="" style="width:105%;">
                    </a>
                <!--/div>
            </div-->
        </div>
    </div>
</div>

<!-- Modal Edit -->
