<section class="view intro-3">
<div class="container mt-4 mb-4 h-100 d-flex justify-content-center align-items-center">
<div class="row">
  <div class="col-sm-6 mb-3 mb-md-0">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Méditation du jour</h5>
        <p class="card-text">
         <strong>Colossiens 1.4-8 </strong>
         <br>
         Nous avons en effet entendu parler de votre foi en Christ-Jésus
         et de l'amour que vous avez pour tous les saints, 5à cause de l'espérance qui vous 
         est réservée dans les cieux, et que la parole de vérité, celle de l'Évangile, 
         vous a précédemment fait connaître. 6Cet Évangile est parvenu chez vous, 
         tout comme il porte des fruits et fait des progrès dans le monde entier; 
         il en est de même chez vous, depuis le jour où vous avez entendu et connu la grâce de Dieu, 
         selon la vérité, 7d'après les instructions que vous avez reçues d'Épaphras notre bien-aimé 
         compagnon de service; il est pour vous un fidèle ministre du Christ, 8et il nous a signalé 
         de quel amour l'Esprit vous anime..</p>
        <!--a href="#!" class="btn btn-primary">Go somewhere</a-->
      </div>
    </div>
  </div>

  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Ressources et méditations</h5>
        <h5 class="card-title">Meditation - "Un Dieu qui se dévoile"</h5>
          <strong> {{ meditation.title }}</strong>
          <br>
          <br>
          {{ meditation.desc }}
        <a href="{{ meditation.link }} target="_blank" class="btn btn-primary"> Lire la suite </a>
      </div>
    </div>
  </div>
</div>
</div>
</section>