<!-- Main content -->
{% load static %}
<main>

    <div class="container">

        <!-- Section: History 1 -->
        <section id="history" class="text-center my-5">

            <!-- Section heading -->
            <h2 class="title font-weight-bold my-5 wow fadeIn" data-wow-delay="0.2s">
                <strong>... Un peu d'histoire ...</strong>
            </h2>

            <!-- Grid row -->
            <div class="row pt-5 wow fadeIn" data-wow-delay="0.4s">

                <!-- Grid column -->
                <div class="col-lg-6 col-md-12 mb-5 text-left">

                    <!-- Secion heading -->
                    <h4 class="mb-3 title font-weight-bold wow fadeIn" data-wow-delay="0.2s">
                        <strong>Les débuts ...</strong>
                    </h4>

                    <!-- Description -->
                    <p align="justify" class="grey-text">L'histoire de l'Eglise protestante évangélique des Gobelins
                        est liée directement avec l'histoire des Assemblées de Frères en région parisienne.</p>
                    <p align="justify" class="grey-text">Un peu après 1850, à Vitry, un petit groupe de croyants se
                        réunissait dans la maison de la famille Bieler. Ce témoignage évangélique se maintint à Vitry
                        pendant près de 100 ans.</p>
                    <p align="justify" class="grey-text">En 1926, l'assemblée déménage au 22, rue Baudin (9e)
                        dont le nom sera changé après la guerre en rue Pierre Sémard. Elle y restera jusqu'en 1954..</p>

                    <!-- Secion heading -->
                    <h4 class="mb-3 title font-weight-bold wow fadeIn" data-wow-delay="0.2s">
                        <strong>Après la guerre...</strong>
                    </h4>

                    <p align="justify" class="grey-text">En 1946, à la suite de la guerre, l'assemblée de la rue Pierre
                        Sémard est bien diminuée à cause de la dispersion de ses membres. Il faut redoubler d'efforts.
                        L'assemblée va connaître un développement rapide par des séries de réunions sous une tente
                        qu'ils installent dès 1947 sur de petits terrains disponibles que l'on trouve un peu partout
                        à cette époque. Ils la montent aussi dans la banlieue sud de Paris. Ils y rencontrent des
                        familles polonaises qui étudient la Bible en petits groupes dans leurs foyers. Avec eux,
                        ils louent en 1948, sur la commune de Bagneux un ancien poulailler au lieu dit La Grange Ory,
                        qu'ils transforment en local de réunion.
                    </p>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-6 col-md-12 mb-5 text-left">
                    <h4 class="mb-5"></h4>
                    <!-- Description -->
                    <p align="justify" class="grey-text">En automne 1952, l'assemblée de Bagneux loue à Paris même une
                        salle au 1er étage de l'Hôtel des Sociétés Savantes, rue Danton (6e); puis dès février 1953,
                        elle se réunit à la Société de Géographie 129, Bd Saint-Germain. L'assemblée collabore
                        étroitement avec celle de la rue Pierre Sémard qui se trouve à son tour trop à l'étroit dans
                        son local. L'année suivante, les deux assemblées envisagent ensemble, non plus de louer,
                        mais d'acheter une salle suffisamment grande.</p>

                    <!-- Secion heading -->
                    <h4 class="mb-3 title font-weight-bold wow fadeIn" data-wow-delay="0.2s">
                        <strong>Dans les locaux du 13ème ...</strong>
                    </h4>

                    <p align="justify" class="grey-text">Enfin en mai 1954, on peut acquérir, avec l'aide de l’Eau Vive
                        de Lille, une salle en rez-de-chaussée, 3bis rue des Gobelins où l'assemblée se trouve encore
                        aujourd'hui. L'assemblée des Gobelins bénéficie de l'aide de nombreux serviteurs de Dieu
                        (Herbert et Margaret Beattie, Thomas MacAdams, Louise Allen, Etienne Frechet, Brian Tatford,
                        Jim Yorgey, Marcel Tabailloux, Colin Porteous, Frank Horton, Robin Horton, Alain Choiquier,
                        Daniel Matthey, Edmond Buckenham, etc. Pendant plusieurs années, l'Eglise accueille de nombreux
                        étudiants (parmi eux René Daïdanso du Tchad).</p>
                    <p align="justify" class="grey-text"> L'Evangile touche de nouvelles personnes. </p>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </section>
        <!-- Section: Features v.4 -->

        <hr>

        <!-- Section: Organisation  -->
        <section id="organisation" class="text-center my-5">

            <!-- Section heading -->
            <h2 class="title font-weight-bold my-5 wow fadeIn" data-wow-delay="0.2s">
                <strong>... Appartenance ...</strong>
            </h2>

            <!-- Grid row -->
            <div class="row wow fadeIn" data-wow-delay="0.2s">

                <!-- Grid column -->
                <div class="col-lg-4 text-center">
                    <div class="icon-area">
                        <div class="circle-icon">
                            <a href="http://www.reseaufef.com/" target="_blank">
                                <img width="70%" src="{% static 'appv/img/logo/reseau_fef_logo.png' %}" alt="Reseau FEF">
                            </a>
                        </div>
                        <br>
                        <h5 class="dark-grey-text font-weight-bold mt-2">Réseau Fraternel Évangélique Français</h5>
                        <div class="mt-1">
                            <p class="mx-3 grey-text"></p>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-4 text-center">
                    <div class="icon-area">
                        <div class="circle-icon">
                            <a href="https://www.lecnef.org/" target="_blank">
                                <img width="50%" src="{% static 'appv/img/logo/cnef_logo2.jpeg' %}" alt="CNEF">
                            </a>
                        </div>
                        <br>
                        <h5 class="dark-grey-text font-weight-bold mt-2">Conseil National des évangéliques de
                            France</h5>
                        <div class="mt-1">
                            <p class="mx-3 grey-text"></p>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-4 text-center mb-4">
                    <div class="icon-area">
                        <div class="circle-icon">
                            <a href="https://www.caef.net/" target="_blank">
                                <img width="50%" src="{% static 'appv/img/logo/caef_logo.png' %}" alt="CAEF">
                            </a>
                        </div>
                        <br>
                        <h5 class="dark-grey-text font-weight-bold mt-2">Communautés et Assemblées Évangéliques de
                            France</h5>
                        <div class="mt-1">
                            <p class="mx-3 grey-text"></p>
                        </div>
                    </div>
                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </section>
        <!-- Section: Organisation  -->

        <hr>

    </div>

    <!-- Section: Confessions de foi -->
    <div id="confession" class="container-fluid" style="background-color: #f4f4fa">
        <div class="container py-4">

            <!-- Section: Services -->
            <section  class="my-3 pb-3">

                <!-- Section heading -->
                <h3 class="text-center title my-5 dark-grey-text font-weight-bold wow fadeIn"
                    data-wow-delay="0.2s">
                    <strong>Confession de foi</strong>
                </h3>

                <!--Carousel Wrapper-->
                <div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel">

                    <!--Controls-->
                    <div class="controls-top">
                        <a class="btn-floating" href="#multi-item-example" data-slide="prev"><i
                                class="fas fa-chevron-left"></i></a>
                        <a class="btn-floating" href="#multi-item-example" data-slide="next"><i
                                class="fas fa-chevron-right"></i></a>
                    </div>
                    <!--/.Controls-->

                    <!--Indicators-->
                    <ol class="carousel-indicators">
                        <li data-target="#multi-item-example" data-slide-to="0" class="active"></li>
                        <li data-target="#multi-item-example" data-slide-to="1"></li>
                        <li data-target="#multi-item-example" data-slide-to="2"></li>
                        <li data-target="#multi-item-example" data-slide-to="3"></li>
                        <li data-target="#multi-item-example" data-slide-to="4"></li>
                        <li data-target="#multi-item-example" data-slide-to="5"></li>
                    </ol>
                    <!--/.Indicators-->

                    <!--Slides-->
                    <div class="carousel-inner">

                        <!-- First row -->
                        <div class="carousel-item active">
                            <div class="row wow fadeIn" data-wow-delay="0.4s">
                                <!-- First column -->
                                <div class="col-md-6 mb-5 text-center">

                                    <!-- Panel -->
                                    <div class="card card-body text-left white hoverable">
                                        <p class="title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                                            <i class="fas fa-square orange-text mr-2" aria-hidden="true"></i>
                                            <strong>Le Vrai Dieu</strong>
                                        </p>
                                        <p class="grey-text font-small mx-4">Nous adorons un seul Dieu, qui existe en
                                            trois personnes de toute éternité :
                                            le Père, le Fils et le Saint-Esprit. Tout en partageant pleinement la même
                                            et unique nature divine, les trois personnes demeurent distinctes et des
                                            rôles distincts leur sont appropriés. Le Père communique éternellement
                                            l’être et la vie au Fils. L’Esprit reçoit éternellement l’être et la vie
                                            du Père et du Fils. Le Père conçoit les projets divins et accomplit ses
                                            œuvres envers la création par la médiation du Fils. Le Père et le Fils
                                            sont présents au monde et y agissent par l’Esprit.</p>

                                        <p class="grey-text font-small mx-4">Nous croyons que Dieu est absolu, immuable,
                                            tout-puissant, omniprésent,
                                            omniscient, parfaitement sage, saint, juste et bon. Il est esprit.
                                            Il est vérité. Il est amour. Il est le Créateur de toutes choses et
                                            tout subsiste par lui et en lui ; il est souverain sur toute la création.
                                            À lui sont dus, au suprême degré, confiance, obéissance, reconnaissance,
                                            amour et louange.</p>
                                    </div>
                                    <!-- Panel -->

                                </div>
                                <!-- First column -->

                                <!-- Second column -->
                                <div class="col-md-6 mb-5 text-center">

                                    <!-- Panel -->
                                    <div class="card card-body text-left white hoverable">
                                        <p class="title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                                            <i class="fas fa-square orange-text mr-2" aria-hidden="true"></i>
                                            <strong>La Bible</strong>
                                        </p>
                                        <p class="grey-text font-small mx-4">Nous croyons que la Bible est la Parole de
                                            Dieu et qu’elle possède à ce
                                            titre une pleine et entière autorité. Elle est la seule règle infaillible
                                            de foi et de vie. La révélation qu’elle nous apporte ne saurait être
                                            modifiée ni complétée par aucune autre.</p>

                                        <p class="grey-text font-small mx-4">Nous croyons que le Saint-Esprit a
                                            souverainement présidé à l’origine
                                            et à la formation des soixante-six livres du recueil biblique.
                                            Nous croyons qu’il en a lui-même assuré l’enseignement parfait et
                                            l’entière vérité jusque dans son détail. Grâce à l’inspiration plénière
                                            dont ils ont ainsi bénéficié, les auteurs humains de la Bible nous ont
                                            communiqué la Parole même de Dieu. Sans cesser d’être une parole humaine,
                                            portant les marques de son insertion historique, l’Écriture Sainte,
                                            rédigée sans erreur dans les manuscrits originaux, exprime avec une
                                            parfaite fidélité ce que Dieu a voulu nous dire.</p>

                                        <p class="grey-text font-small mx-4">Nous croyons que la Bible est pleinement
                                            suffisante pour révéler ce que
                                            nous avons à connaître afin de parvenir au salut, de vivre selon Dieu
                                            et de trouver notre joie en lui.</p>

                                        <p class="grey-text font-small mx-4">Nous croyons que le but de l’interprétation
                                            de l’Écriture est de déterminer
                                            le sens et le message voulus par ses auteurs. La Bible a été rédigée en
                                            langage humain et doit être interprétée selon les conventions normales du
                                            langage et dans le respect de la diversité thématique et littéraire en son
                                            sein.
                                            Chaque texte doit être interprété en accord avec le reste de l’Écriture.</p>
                                    </div>
                                    <!-- Panel -->

                                </div>
                                <!-- Second column -->
                            </div>
                        </div>
                        <!-- First row -->

                        <!-- First row -->
                        <div class="carousel-item">
                            <div class="row wow fadeIn" data-wow-delay="0.4s">
                                <!-- First column -->
                                <div class="col-md-6 mb-5 text-center">

                                    <!-- Panel -->
                                    <div class="card card-body text-left white hoverable">
                                        <p class="title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                                            <i class="fas fa-square orange-text mr-2" aria-hidden="true"></i>
                                            <strong>La création et l'Homme</strong>
                                        </p>
                                        <p class="grey-text font-small mx-4">Nous croyons que Dieu, dans sa parfaite
                                            bonté, a librement créé l’univers
                                            et tout ce qu’il contient, les êtres visibles et les invisibles.
                                            Nous croyons que la création était, à l’origine, entièrement bonne,
                                            et que Dieu conserve pour elle un projet de justice et d’amour.</p>

                                        <p class="grey-text font-small mx-4">Nous croyons que Dieu a créé l’homme et la
                                            femme en son image, êtres corporels
                                            et spirituels. Il appelle tous les humains à vivre en conformité à sa
                                            volonté.
                                            Ils devront lui rendre compte personnellement de leurs actes au jour fixé
                                            pour le jugement.</p>
                                    </div>
                                    <!-- Panel -->

                                </div>
                                <!-- First column -->

                                <!-- Second column -->
                                <div class="col-md-6 mb-5 text-center">

                                    <!-- Panel -->
                                    <div class="card card-body text-left white hoverable">
                                        <p class="title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                                            <i class="fas fa-square orange-text mr-2" aria-hidden="true"></i>
                                            <strong>La rupture avec Dieu et ses conséquences</strong>
                                        </p>
                                        <p class="grey-text font-small mx-4">Nous croyons que, créés moralement justes
                                            et bons, nos premiers parents
                                            ont consciemment désobéi à leur Créateur. Ils ont ainsi perdu leur condition
                                            première,
                                            et la création tout entière subit les conséquences de leur faute.</p>

                                        <p class="grey-text font-small mx-4">Nous croyons que, depuis lors, tous les
                                            hommes, à l’exception de Jésus-Christ,
                                            se trouvent, dans leur condition naturelle, séparés de Dieu, enclins au mal,
                                            asservis au péché et soumis à la domination de Satan. Ils transgressent
                                            les lois divines et demeurent, en conséquence, exposés à une perdition
                                            éternelle.</p>

                                        <p class="grey-text font-small mx-4">Nous croyons cependant que Dieu, dans sa
                                            bonté, offre aux hommes un accès à sa grâce.
                                            Tout être humain est appelé à répondre à cette offre de façon responsable
                                            durant
                                            sa vie présente, à la clarté des lumières qui lui sont accessibles,
                                            ce qui détermine son sort éternel.</p>
                                    </div>
                                    <!-- Panel -->

                                </div>
                                <!-- Second column -->
                            </div>
                        </div>
                        <!-- First row -->

                        <!-- First row -->
                        <div class="carousel-item">
                            <div class="row wow fadeIn" data-wow-delay="0.4s">
                                <!-- First column -->
                                <div class="col-md-6 mb-5 text-center">

                                    <!-- Panel -->
                                    <div class="card card-body text-left white hoverable">
                                        <p class="title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                                            <i class="fas fa-square orange-text mr-2" aria-hidden="true"></i>
                                            <strong>Jésus et son oeuvre</strong>
                                        </p>
                                        <p class="grey-text font-small mx-4">Nous croyons que Jésus-Christ est le Fils
                                            unique et éternel de Dieu et
                                            qu’il s’est fait homme pour notre salut. Conçu du Saint-Esprit et né d’une
                                            vierge,
                                            Marie, il est à la fois réellement homme et réellement Dieu. Il est le
                                            Messie
                                            promis par les prophètes. Tout en s’étant volontairement abaissé, le Fils de
                                            Dieu
                                            a manifesté une entière perfection dans le domaine du vrai et dans le
                                            domaine du bien.
                                            Tenté comme nous en toutes choses, il est demeuré parfaitement saint.
                                            Ayant reçu l’Esprit saint en vue de son ministère, il a parcouru le pays
                                            d’Israël
                                            pour y apporter son enseignement et accomplir de nombreux miracles attestant
                                            l’origine
                                            divine de sa mission. Dans sa vie comme dans sa mort, il a pleinement
                                            accompli la
                                            volonté de Dieu, exprimé sa pensée et manifesté l’immensité de son
                                            amour.</p>

                                        <p class="grey-text font-small mx-4">Nous croyons que Jésus-Christ a
                                            volontairement souffert et qu’il est mort sur la croix.
                                            Pour satisfaire à la justice divine, il a offert sa vie en sacrifice
                                            expiatoire pour
                                            les pécheurs et a ainsi subi à leur place le châtiment qu’ils
                                            méritaient.</p>

                                        <p class="grey-text font-small mx-4">Nous croyons que Jésus-Christ est
                                            corporellement ressuscité et qu’il a été élevé au ciel.
                                            Il siège à la droite du Père et partage sa gloire. Il intercède auprès de
                                            lui pour les siens ;
                                            il reviendra pour les prendre avec lui et pour établir le royaume de Dieu
                                            dans toute sa gloire.
                                            Il est le seul médiateur entre Dieu et les hommes. Il sera le juge des
                                            vivants et des morts.
                                            Il est le Sauveur et le Seigneur.</p>
                                    </div>
                                    <!-- Panel -->

                                </div>
                                <!-- First column -->

                                <!-- Second column -->
                                <div class="col-md-6 mb-5 text-center">

                                    <!-- Panel -->
                                    <div class="card card-body text-left white hoverable">
                                        <p class="title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                                            <i class="fas fa-square orange-text mr-2" aria-hidden="true"></i>
                                            <strong>Le salut par Jésus-Christ</strong>
                                        </p>
                                        <p class="grey-text font-small mx-4">Nous croyons que c’est par grâce que les
                                            hommes peuvent être
                                            sauvés, par le moyen de la foi. Le salut est pleinement accordé
                                            à toute personne qui, à la lumière de l’Évangile et sous l’action
                                            du Saint-Esprit, met sa confiance en Dieu, se repent de ses péchés
                                            et se réclame de l’œuvre expiatoire accomplie à la croix. Uni
                                            à Christ et ainsi placé au bénéfice de sa mort et de sa résurrection,
                                            le pécheur reçoit le pardon de Dieu pour ses fautes, obtient
                                            les mêmes droits que s’il avait obéi à la Loi de Dieu, et bénéficie
                                            de la faveur divine ; il est baptisé dans l’Esprit : l’Esprit
                                            le régénère, lui communique la vie éternelle et l’intègre au
                                            peuple de Dieu. Sans atteindre ici-bas la perfection, il s’engage
                                            dans une vie de piété, d’obéissance à Dieu, de témoignage rendu
                                            à l’Évangile et de service à la gloire de Dieu, manifestant ainsi
                                            par ses actes l’authenticité de sa foi et de sa repentance.</p>

                                        <p class="grey-text font-small mx-4">Nous croyons que, par sa mort, Jésus-Christ
                                            a porté nos souffrances
                                            et nos maladies et qu’il nous a ainsi acquis la rédemption de
                                            notre corps. En conséquence, nous expérimenterons à son retour
                                            une pleine et entière guérison. Pour le temps présent, Dieu peut
                                            accorder s’il lui plaît une guérison extraordinaire par anticipation
                                            sur l’étape finale de la rédemption. Dans le cas contraire, il
                                            appelle le chrétien à le glorifier dans la maladie, la souffrance
                                            ou la mort.</p>
                                    </div>
                                    <!-- Panel -->

                                </div>
                                <!-- Second column -->
                            </div>
                        </div>
                        <!-- First row -->

                        <!-- First row -->
                        <div class="carousel-item">
                            <div class="row wow fadeIn" data-wow-delay="0.4s">
                                <!-- First column -->
                                <div class="col-md-6 mb-5 text-center">

                                    <!-- Panel -->
                                    <div class="card card-body text-left white hoverable">
                                        <p class="title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                                            <i class="fas fa-square orange-text mr-2" aria-hidden="true"></i>
                                            <strong>Le Saint-Esprit et son action dans la vie chrétienne</strong>
                                        </p>
                                        <p class="grey-text font-small mx-4">Nous croyons que le Saint-Esprit, personne
                                            divine, est un avec
                                            le Père et avec le Fils. Il est donné à tout croyant et vient
                                            habiter en lui au moment où celui-ci s’unit à Jésus-Christ par
                                            la foi. Il a pour mission de mettre le croyant au bénéfice de
                                            l’œuvre de salut de Christ. Il agit habituellement par l’Écriture,
                                            avec laquelle il ne saurait être en désaccord : il œuvre dans
                                            le cœur du croyant pour qu’il la comprenne, la reçoive avec foi
                                            et s’y soumette. Il produit en lui son fruit ; il le rend capable
                                            de progresser dans la vie chrétienne et d’y persévérer jusqu’à
                                            la fin. En comptant sur son œuvre en lui, le chrétien s’efforce
                                            de mener sa vie selon la volonté de Dieu. Sous son action, et
                                            équipé par lui de ses dons, chaque chrétien est appelé à se mettre
                                            au service d’autrui dans l’Église et dans le monde selon le dessein
                                            particulier de Dieu à son égard. L’Esprit seul peut assurer au
                                            croyant la communion avec son Dieu et avec ses frères.</p>
                                    </div>
                                    <!-- Panel -->

                                </div>
                                <!-- First column -->

                                <!-- Second column -->
                                <div class="col-md-6 mb-5 text-center">

                                    <!-- Panel -->
                                    <div class="card card-body text-left white hoverable">
                                        <p class="title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                                            <i class="fas fa-square orange-text mr-2" aria-hidden="true"></i>
                                            <strong>L’Église</strong>
                                        </p>
                                        <p class="grey-text font-small mx-4">Nous croyons que Dieu a voulu créer pour
                                            lui une humanité nouvelle,
                                            appelée à lui rendre un culte, et comprenant tous ceux qui auront
                                            été régénérés et réconciliés avec lui par Christ. À cet effet,
                                            il a fondé l’Église le jour de la Pentecôte, en accomplissement
                                            de la promesse faite à Abraham. Elle est la communauté de tous
                                            ceux qui, issus de tous les peuples, ont mis leur foi en Jésus-Christ
                                            en apportant leur adhésion à l’enseignement des apôtres. Le Saint-Esprit
                                            unit ces croyants à Christ et entre eux pour former comme un
                                            seul corps.</p>

                                        <p class="grey-text font-small mx-4">Nous croyons que Jésus-Christ est le
                                            Seigneur et l’unique chef
                                            de l’Église. Il la nourrit par sa Parole, la conduit par son
                                            Esprit et lui suscite divers ministères pour qu’elle remplisse
                                            ses missions. Il la fera paraître dans sa plénitude et sa perfection
                                            finale lors du renouvellement de toutes choses. Il lui donne
                                            présentement pour mandat d’annoncer l’Évangile à tous les peuples
                                            et de faire parmi eux des disciples.</p>
                                        <p class="grey-text font-small mx-4">Nous croyons que l’Église locale est
                                            appelée à manifester, à
                                            sa mesure, la réalité du Corps de Christ. Elle est une communauté
                                            de croyants nés de l’Esprit, qui, tout en reconnaissant leurs
                                            faiblesses, veulent vivre ensemble à la gloire de Dieu. Il est
                                            du devoir de chaque Église locale et de chaque chrétien de préserver
                                            l’unité que l’Esprit produit entre les croyants véritables, pour
                                            l’honneur de leur Seigneur.</p>
                                    </div>
                                    <!-- Panel -->

                                </div>
                                <!-- Second column -->
                            </div>
                        </div>
                        <!-- First row -->

                        <!-- First row -->
                        <div class="carousel-item">
                            <div class="row wow fadeIn" data-wow-delay="0.4s">
                                <!-- First column -->
                                <div class="col-md-6 mb-5 text-center">

                                    <!-- Panel -->
                                    <div class="card card-body text-left white hoverable">
                                        <p class="title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                                            <i class="fas fa-square orange-text mr-2" aria-hidden="true"></i>
                                            <strong>Le baptême et la cène</strong>
                                        </p>
                                        <p class="grey-text font-small mx-4">Nous croyons que Jésus-Christ
                                            a prescrit à son Église de pratiquer le baptême et la cène. Les
                                            Églises locales veillent à la bonne compréhension de leur signification
                                            et en assurent une pratique digne.</p>

                                        <p class="grey-text font-small mx-4">Nous croyons que le baptême
                                            est un acte par lequel le croyant témoigne publiquement de sa
                                            foi personnelle en Jésus-Christ. Par ce symbole de la purification
                                            des péchés, le croyant reconnaît son besoin du pardon de Dieu,
                                            exprime son union avec Christ qui le met au bénéfice de la grâce
                                            divine. Il signifie par ce geste son engagement envers son Sauveur
                                            et envers ses frères.</p>

                                        <p class="grey-text font-small mx-4">Nous croyons que la cène
                                            commémore et proclame la mort expiatoire de Jésus-Christ. Nous
                                            croyons que le pain et le vin sont respectivement les symboles
                                            du corps et du sang offerts par notre Sauveur sur la croix. En
                                            participant à la cène, les rachetés témoignent qu’ils sont un
                                            avec Jésus-Christ et en communion les uns avec les autres, dans
                                            la joyeuse espérance de son glorieux retour.</p>
                                    </div>
                                    <!-- Panel -->

                                </div>
                                <!-- First column -->

                                <!-- Second column -->
                                <div class="col-md-6 mb-5 text-center">

                                    <!-- Panel -->
                                    <div class="card card-body text-left white hoverable">
                                        <p class="title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                                            <i class="fas fa-square orange-text mr-2" aria-hidden="true"></i>
                                            <strong>Vivre selon la volonté de Dieu</strong>
                                        </p>
                                        <p class="grey-text font-small mx-4">Nous croyons que le chrétien
                                            est appelé à conduire toute sa vie et à accomplir chacun de ses
                                            actes dans l’amour pour Dieu et le prochain, dans l’obéissance
                                            à l’Écriture, et pour la gloire de Dieu. Il le fera en comptant
                                            sur l’œuvre de l’Esprit en lui. Vivre selon la volonté divine
                                            et viser le bien en toutes choses sont l’expression de la reconnaissance
                                            du croyant pour le salut que Dieu lui accorde par grâce, en vertu
                                            de l’œuvre de Christ. L’obéissance à Dieu découle de la confiance
                                            en lui. Demeurant en deçà de la perfection, le croyant reste
                                            dépendant du pardon de Dieu tout au long de sa vie.</p>

                                        <p class="grey-text font-small mx-4">Nous croyons que Dieu nous
                                            commande le respect de la personne humaine dès sa conception
                                            et jusqu’à sa mort, et la préservation de la dignité de chaque
                                            être humain.</p>

                                        <p class="grey-text font-small mx-4">Nous croyons que Dieu requiert
                                            la préservation de l’intégrité de la cellule familiale. Le mariage,
                                            union d’un homme et d’une femme, est, depuis l’origine de l’humanité,
                                            une institution divine. Il comporte un engagement des conjoints,
                                            entériné par la société, à vivre une vie commune dans l’amour
                                            mutuel et dans une fidélité exclusive pour tout le temps où ils
                                            demeureront tous deux en vie. Dieu nous appelle à veiller aux
                                            besoins matériels, affectifs et spirituels des membres de notre
                                            famille dont nous avons la responsabilité.</p>

                                        <p class="grey-text font-small mx-4">Nous croyons que Dieu nous
                                            commande le respect des biens d’autrui et la fiabilité dans nos
                                            paroles. Il nous appelle à promouvoir la justice sociale et à
                                            prendre soin de sa création. Il adresse à chacun une vocation
                                            à le servir par son travail dans la mesure de ses moyens tout
                                            en réservant du temps pour la piété individuelle et communautaire.</p>


                                        <p class="grey-text font-small mx-4">L’autorité politique étant
                                            une institution divine, le chrétien doit se soumettre à ceux
                                            qui ont la charge de l’exercer et prier pour eux, tout en réservant
                                            à Dieu seul une allégeance absolue.</p>
                                    </div>
                                    <!-- Panel -->

                                </div>
                                <!-- Second column -->
                            </div>
                        </div>
                        <!-- First row -->

                        <!-- First row -->
                        <div class="carousel-item">
                            <div class="row wow fadeIn" data-wow-delay="0.4s">
                                <!-- First column -->
                                <div class="col-md-6 mb-5 text-center">

                                    <!-- Panel -->
                                    <div class="card card-body text-left white hoverable">
                                        <p class="title font-weight-bold dark-grey-text text-uppercase spacing mt-4 mx-4">
                                            <i class="fas fa-square orange-text mr-2" aria-hidden="true"></i>
                                            <strong>La résurection </strong>
                                        </p>
                                        <p class="grey-text font-small mx-4">Nous croyons que tous les
                                            morts ressusciteront, les justes et les injustes. Nous croyons
                                            au jugement final par lequel Dieu manifestera sa justice parfaite
                                            en rétribuant chacun selon ses œuvres. Ceux qui auront persévéré
                                            dans l’incrédulité subiront, dans un état d’existence consciente,
                                            le châtiment éternel qu’ils auront mérité. En vertu de la grâce
                                            qu’ils auront reçue par la foi, les rachetés jouiront d’une gloire
                                            éternelle dans la présence de leur Sauveur.</p>
                                    </div>
                                    <!-- Panel -->

                                </div>
                                <!-- First column -->

                            </div>
                        </div>
                        <!-- First row -->
                    </div>
                </div>
            </section>
            <!-- Section: Services -->

        </div>
    </div>


    <!-- Section: Contact v.2 -->
    <div id="contact" class="container">
        <hr>
        <section  class="text-center my-5">

            <!-- Section heading -->
            <h3 class="text-center title my-5 dark-grey-text font-weight-bold wow fadeIn" data-wow-delay="0.2s">
                <strong>Nous contacter </strong>
            </h3>

            <!-- Section description -->
            <p class="grey-text w-responsive mx-auto mb-5 wow fadeIn" data-wow-delay="0.2s">
                L'entrée est située au 3bis rue des Gobelins, proche du Métro les Gobelins (environ vers le 32 de
                l'avenue des Gobelins).
                A l'exception du jeudi de 19 h 45 à 21 h 30 et du dimanche de 10 h à 12 h, il faut entrer par un
                digicode (vous pouvez le demander au numéro de téléphone ci-dessous).
                En entrant dans la première cour, avancer environ 15 m, puis prendre le porche sur la droite et
                continuer au fond de la 2e cour.
            </p>

            <!-- Grid row -->
            <div class="row wow fadeIn mt-5" data-wow-delay="0.4s">

                <!-- Grid column -->
                <div class="col-lg-5 mb-lg-0 mb-4">

                    <!-- Form with header -->
                    <div class="card">
                        <div class="card-body">
                            <!-- Header -->
                            <div class="form-header blue accent-1">
                                <h3 class="mt-2"><i class="fas fa-envelope"></i> Ecris nous:</h3>
                            </div>
                            <p class="dark-grey-text">Envoie nous un message ici. </p>
                            <!-- Body -->
                            <div class="md-form">
                                <i class="fas fa-user prefix grey-text"></i>
                                <input type="text" id="form-name" class="form-control">
                                <label for="form-name">Votre nom</label>
                            </div>
                            <div class="md-form">
                                <i class="fas fa-envelope prefix grey-text"></i>
                                <input type="text" id="form-email" class="form-control">
                                <label for="form-email">Votre email</label>
                            </div>
                            <div class="md-form">
                                <i class="fas fa-tag prefix grey-text"></i>
                                <input type="text" id="form-Subject" class="form-control">
                                <label for="form-Subject">Objet</label>
                            </div>
                            <div class="md-form">
                                <i class="fas fa-pencil-alt prefix grey-text"></i>
                                <textarea id="form-text" class="form-control md-textarea" rows="3"></textarea>
                                <label for="form-text">Message</label>
                            </div>
                            <div class="text-center">
                                <button class="btn btn-light-blue">Envoyer</button>
                            </div>
                        </div>
                    </div>
                    <!-- Form with header -->

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-7">

                    <!--Google map-->
                    <div id="map-container-section" class="z-depth-1-half map-container-section mb-4"
                         style="height: 400px">
                        <iframe width="100%" height="400px" frameborder="0" scrolling="no" marginheight="0"
                                marginwidth="0"
                                src="https://maps.google.fr/maps?f=q&amp;source=s_q&amp;hl=fr&amp;geocode=&amp;q=3+bis+rue+des+gobelins&amp;aq=&amp;sll=48.680793,2.502588&amp;sspn=1.813488,3.988037&amp;ie=UTF8&amp;hq=&amp;hnear=3bis+Rue+des+Gobelins,+75013+Paris,+%C3%8Ele-de-France&amp;t=m&amp;z=14&amp;ll=48.835755,2.351893&amp;output=embed"></iframe>
                    </div>
                    <!-- Buttons-->
                    <div class="row text-center">
                        <div class="col-md-4">
                            <a class="btn-floating blue accent-1">
                                <i class="fas fa-map-marker-alt"></i>
                            </a>
                            <p>3b rue des Gobelins</p>
                            <p class="mb-md-0">Paris - France</p>
                        </div>
                        <div class="col-md-4">
                            <a class="btn-floating blue accent-1">
                                <i class="fas fa-phone"></i>
                            </a>
                            <p>+ 33 (0)7 68 16 14 50</p>
                            <p>+ 33 (0)1 45 35 82 12</p>
                        </div>
                        <div class="col-md-4">
                            <a class="btn-floating blue accent-1">
                                <i class="fas fa-envelope"></i>
                            </a>
                            <p>e.gobelins@gmail.com</p>
                            <!--p class="mb-0">e.gobelins@gmail.com</p-->
                        </div>
                    </div>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->
        </section>
        <!-- Section: Contact v.2 -->
    </div>

</main>
<!-- Main content -->