{% load static %}

<section class="">
<div class="container mt-4 mb-4 h-100 d-flex justify-content-center align-items-center">
<div class="row">
  <div class="col-sm-2 mb-3 mb-md-0">
    <a href="https://evangile21.thegospelcoalition.org/">
      <img src="{% static 'appv/img/logo/logo-E21-screen-1024x263.png' %}" alt="" style="width:200px;">
    </a>
  </div>
  <div class="col-sm-2 mb-3 mb-md-0">
    <a href="https://toutpoursagloire.com/podcasts/">
      <img src="{% static 'appv/img/logo/logo-tpsg.webp' %}" alt="" style="width:150px;">
    </a>
  </div>
  <div class="col-sm-2 mb-3 mb-md-0">
    <a href="https://audiobibleibg.com/">
      <img src="{% static 'appv/img/logo/IBG-audio-logo.png' %}" alt="" style="width:275px;">
    </a>
  </div>
  <div class="col-sm-2 mb-3 mb-md-0">
    <a href="http://flte.fr/">
      <img src="{% static 'appv/img/logo/FLTE-logo.png' %}" alt="" style="width:200px;">
    </a>
  </div>
  <div class="col-sm-2 mb-3 mb-md-0">
    <a href="https://www.portesouvertes.fr/">
      <img src="{% static 'appv/img/logo/po-rvb-left-logo.png' %}" alt="" style="width:250px;">
    </a>
  </div>
  <div class="col-sm-2 mb-3 mb-md-0">
    <a href="https://ajc.caef.net/">
      <img src="{% static 'appv/img/logo/ajc_caef_logo.jpg' %}" alt="" style="width:150px;">
    </a>
  </div>

</div>
</div>
</section>