

{% load static %}
{% load extras %}
<!-- Modal Edit -->
<div class="modal fade modalEditClass" id="modalAudio" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="col second-content align-self-center mx-auto text-center">
                    <audio id="audio_player" controls preload="metadata">
                        <source src="{{ audio_svr_path|concat_string:sermon_latest.audio }}" type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal Edit -->
