<!-- Main content -->
{% load static %}
<main>
    <!-- Photos -->
    <div class="container">

        <section id="gallery_photo" class="mt-3 mb-5 pt-3 pb-5">

            <!-- Section heading -->
            <h2 class="text-center title my-5 dark-grey-text font-weight-bold wow fadeIn"
                data-wow-delay="0.2s">
                <strong>Galérie des photos</strong>
            </h2>

            <!-- Grid row -->
            <div class="row">

                <!-- Grid column -->
                <div class="col-md-12 d-flex justify-content-center mb-5 pb-2">

                    <button type="button" class="btn btn-rounded btn-white font-weight-bold waves-effect filter"
                            data-rel="all">All
                    </button>

                    {% for iter in albums %}
                    <button type="button" class="btn btn-rounded btn-white font-weight-bold waves-effect filter"
                            data-rel="{{ iter.album }}">{{ iter.album }}
                    </button>
                    {% endfor %}

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

            <!-- Grid row -->
            {% load extras %}
            <div class="gallery" id="gallery">

                <!-- Grid column -->
                {% for photo in photos %}
                <div class="mb-3 pics animation all {{ photo.album }}">
                    <!--img class="img-fluid" src="{% static 'appv/'|concat_string:photo.filepath %}"-->
                    <img class="img-fluid" src="{{ gallery_svr_path|concat_string:photo.filepath }}"
                         alt="{{ photo.name }}">
                </div>
                {% endfor %}
                <!-- Grid column -->

                <!-- Grid column
                <div class="mb-3 pics animation all 1">
                    <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Vertical/7.jpg" alt="Card image cap">
                </div> -->
                <!-- Grid column -->


            </div>
            <!-- Grid row -->

        </section>

    </div>
    <!-- Photos -->

    <!-- Videos -->
    <div id="gallery_video" class="container-fluid light-grey-background">
     <div class="container py-2">

        <section>

          <!-- Section heading -->
          <h2 class="text-center title my-5 pb-5 dark-grey-text font-weight-bold wow fadeIn" data-wow-delay="0.2s">
            <strong>Galérie des vidéos</strong>
          </h2>
        <!-- Grid row -->
        <div class="row">

            <!-- Grid column -->
            {% for video in videos %}
            <div class="col-lg-4 col-md-12 mb-4">

                <!--Modal: Name-->
                <div class="modal fade" id="{{ 'modal'|concat_string:video.name }}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
                     aria-hidden="true" >
                    <div class="modal-dialog modal-lg" role="document" style="width : 1600px; ">

                        <!--Content-->
                        <div class="modal-content">

                            <!--Body-->
                            <div class="modal-body mb-0 p-0">

                                <div class="embed-responsive embed-responsive-16by9 z-depth-1-half">
                                    <iframe class="embed-responsive-item"
                                            src="{{ gallery_svr_path|concat_string:video.filepath }}"
                                            allowfullscreen></iframe>
                                </div>

                            </div>

                            <!--Footer-->
                            <div class="modal-footer justify-content-center">
                                <span class="mr-4">Spread the word!</span>
                                <a type="button" class="btn-floating btn-sm btn-fb"><i
                                        class="fab fa-facebook-f"></i></a>
                                <!--Twitter-->
                                <a type="button" class="btn-floating btn-sm btn-tw"><i class="fab fa-twitter"></i></a>
                                <!--Google +-->
                                <a type="button" class="btn-floating btn-sm btn-gplus"><i
                                        class="fab fa-google-plus-g"></i></a>
                                <!--Linkedin-->
                                <a type="button" class="btn-floating btn-sm btn-ins"><i class="fab fa-linkedin-in"></i></a>

                                <button type="button" class="btn btn-outline-primary btn-rounded btn-md ml-4"
                                        data-dismiss="modal">Close
                                </button>

                            </div>

                        </div>
                        <!--/.Content-->

                    </div>
                </div>
                <!--Modal: Name-->

                <a><img class="img-fluid z-depth-1" src="https://mdbootstrap.com/img/screens/yt/screen-video-4.jpg"
                        alt="video"
                        data-toggle="modal" data-target="{{ '#modal'|concat_string:video.name }}"></a>

            </div>
            {% endfor %}


        </div>
        <!-- Grid row -->

        </section>
     </div>
    </div>
    <!-- Videos -->

</main>
<!-- Main content -->
