<!-- Main content -->
{% load static %}
<main>

    <div class="container">

        <!-- Section heading -->
        <h2 class="title text-center font-weight-bold my-5 wow fadeIn" data-wow-delay="0.2s">
            <strong>Ce que nous faisons ...</strong>
        </h2>

        <div class="container  rgba-blue-slight">
                <!--Section: Name-->
        <section class="pt-2 wow fadeIn" data-wow-delay="0.2s">

            <section class="feature-box ">

                <!--First row-->
                <div class="row features-small mt-5">

                    <!--Grid column-->
                    <div class="col-xl-4 col-lg-6">
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-bible fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                            </div>
                            <div class="col-10 mb-2 pl-0">
                                <h5 class="feature-title font-bold mb-1">Cultes</h5>
                                <p class="grey-text mt-2">Tous les <strong>dimanche</strong> à <strong>10h30</strong>, nous avons un culte de célébration
                                    en l’honneur de notre Dieu. Un temps spécifique adapté aux enfants est prévu chaque
                                    dimanche matin également.
                                </p>
                            </div>
                        </div>
                        <!--/Grid row-->
                    </div>
                    <!--/Grid column-->

                    <!--Grid column-->
                    <div class="col-xl-4 col-lg-6">
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-pray fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                            </div>
                            <div class="col-10 mb-2 pl-0">
                                <h5 class="feature-title font-bold mb-1">Études Bibliques & Prières</h5>
                                <p class="grey-text mt-2">Tous les <strong>jeudi</strong> à <strong>20h00</strong>, nous nous réunissons pour un temps
                                    de partage biblique et de prière.
                                </p>
                            </div>
                        </div>
                        <!--/Grid row-->
                    </div>
                    <!--/Grid column-->

                    <!--Grid column-->
                    <div class="col-xl-4 col-lg-6">
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-pizza-slice fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                            </div>
                            <div class="col-10 mb-2 pl-0">
                                <h5 class="feature-title font-bold mb-1">Repas Fraternels</h5>
                                <p class="grey-text mt-2">Une fois par mois, après les cultes, l’Eglise organise de
                                temps de repas de convivialité et d’amitié pour apprendre à mieux se connaître et
                                    accueillir les nouveaux parmi nous
                                </p>
                            </div>
                        </div>
                        <!--/Grid row-->
                    </div>
                    <!--/Grid column-->

                </div>
                <!--/First row-->

                <!--Second row-->
                <div class="row features-small mt-4">

                    <!--Grid column-->
                    <div class="col-xl-6 col-lg-6">
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-cubes fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                            </div>
                            <div class="col-10 mb-2 pl-0">
                                <h5 class="feature-title font-bold mb-1">Rencontres Jeunesse</h5>
                                <p class="grey-text mt-2">Plusieurs fois par mois, le groupe de jeunes se réunit,
                                pour des temps de jeu, de repas et sutout de partage autour de la Parole.</p>
                            </div>
                        </div>
                        <!--/Grid row-->
                    </div>
                    <!--/Grid column-->

                    <!--Grid column-->
                    <div class="col-xl-6 col-lg-6">
                        <!--Grid row-->
                        <div class="row">
                            <div class="col-2">
                                <i class="fas fa-question fa-2x mb-1 indigo-text" aria-hidden="true"></i>
                            </div>
                            <div class="col-10 mb-2 pl-0">
                                <h5 class="feature-title font-bold mb-1">Evangélisation </h5>
                                <p class="grey-text mt-2">Chaque samedi des distributions de ... sont faites aux
                                    alentour du metro des Gobelins. Rendez-vous à 10h50 des les locaux de l'Eglise avant
                                    d'aller sur place.
                                </p>
                            </div>
                        </div>
                        <!--/Grid row-->
                    </div>
                    <!--/Grid column-->

                </div>
                <!--/Second row-->

            </section>

        </section>
        <!--Section: Name-->
        </div>
        <hr>

        <!-- Section: Thursday Study -->
        <section id="thursdaystudy" class="mt-5 mb-5 py-1 wow fadeIn" data-wow-delay="0.2s">

            <!-- Grid row -->
            <div class="row pt-2 mt-lg-5">

                <!-- Grid column -->
                <div class="col-lg-6 col-md-12 mb-3 wow fadeIn" data-wow-delay="0.4s">
                    <!-- Image -->
                    <img src="{% static 'appv/img/lightbox/003_bible_700x400.jpg' %}"
                         class="img-fluid rounded" alt="etudebible">
                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-6 ml-auto col-md-12 wow fadeIn" data-wow-delay="0.4s">

                    <!-- Secion heading -->
                    <h2 class="mb-5 title font-weight-bold wow fadeIn" data-wow-delay="0.2s">
                        <strong>Étude de la Bible</strong>
                    </h2>

                    <!-- Description -->
                    <p align="justify" class="grey-text">Pour les chrétiens, l’écoute et l’étude de la Parole de Dieu
                        sont primordiales. C’est ainsi que nous pouvons croître dans la connaissance de Dieu et dans
                        la connaissance de sa volonté révélée dans la Bible.</p>

                    <p align="justify" class="grey-text">C’est pourquoi chaque semaine, les jeudis soir à 20h00, nous
                        nous réunissons
                        pour l’étude de la Bible et pour prier. Cette étude peut prendre la forme d’une conférence ou
                        d’une étude interactive en groupe.
                    </p>

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </section>
        <!-- Section: Thursday Study -->

        <hr>

        <!-- Section: Sunday School -->
        <section id="sundayschool" class="mt-5 mb-5 py-1 wow fadeIn" data-wow-delay="0.2s">

            <!-- Grid row -->
            <div class="row pt-5 wow fadeIn" data-wow-delay="0.4s">

                <!-- Grid column -->
                <div class="col-lg-6 col-md-12 mb-5 text-left">

                    <!-- Secion heading -->
                    <h2 class="mb-5 title font-weight-bold wow fadeIn" data-wow-delay="0.2s">
                        <strong>École du dimanche </strong>
                    </h2>

                    <!-- Description -->
                    <p align="justify" class="grey-text">L’école du dimanche est un lieu adapté aux enfants durant
                        lequel ils entendent l’Evangile. C’est un moment où ils peuvent apprendre à connaître qui est
                        Dieu et quelle vie Dieu désire qu’ils menions, à travers les nombreux récits d’hommes et de
                        femmes de Dieu racontés dans la Bible. </p>

                </div>
                <!-- Grid column -->

                <!-- Grid column -->
                <div class="col-lg-5 col-md-12 mt-md-4 mt-lg-0 ml-auto mb-5 text-center">

                    <!-- Image -->
                    <img src="{% static 'appv/img/lightbox/004_ecole_du_dimanche_700x300.jpg' %}"
                         class="img-fluid rounded z-depth-0" alt="My photo">

                </div>
                <!-- Grid column -->

            </div>
            <!-- Grid row -->

        </section>
        <!-- Section: Sunday School -->

        <hr>

        <!-- Section: Pricing v.5 -->
        <section id="calendar" align="justify" class="text-center">

            <!-- Section heading -->
            <h2 class="title font-weight-bold my-5 wow fadeIn" data-wow-delay="0.2s">
                <strong>Activités du mois de l'église </strong>
            </h2>

            <!-- Section description -->
            <p class="grey-text w-responsive mb-5"></p>

            <!-- Grid column -->
            <div class="col-lg-12 col-md-12 mb-5" id="card-calendar">

                <!-- Card -->
                <div class="card card-image"
                     style="background-image: url('https://mdbootstrap.com/img/Photos/Others/pricing-table%20(8).jpg');">

                    <!-- Content -->
                    <div
                            class="text-white text-center pricing-card d-flex align-items-center rgba-indigo-strong py-3 px-3 rounded">

                        <!-- Content -->
                        <div class="card-body">
                            {% load extras %}
                            <iframe id="frame-calendar" src="{{ agenda_svr_path|concat_string:agenda_current.filepath }}#zoom=100"
                                    frameborder="0"  style="border:0" allowfullscreen width="85%" height="800px">
                            </iframe>
                        </div>

                    </div>
                </div>
                <!-- Card -->
            </div>
            <!-- Grid column -->

        </section>
        <!-- Section: Pricing v.5 -->

    </div>

</main>
<!-- Main content -->