<!-- Intro Section -->
<section class="view intro-3">
    <div class="container mt-4 h-100 d-flex justify-content-center align-items-center">
        <div class="row">

            <div class="col-md-12 col-lg-4 mr-lg-5 offset-lg-1 text-center text-lg-left white-text mt-5 mt-md-5">
                <h5 class="intro-title font-weight-bold mt-sm-5 mt-0 mb-4 wow fadeInLeft" data-wow-delay="0.3s">Eglise
                    Protestante Evangélique aux Gobelins</h5>
                <h6 class="mb-4 wow fadeInLeft" data-wow-delay="0.3s">"Si mon peuple, sur lequel mon nom est invoqué,
                    s’humilie, s’ils prient, s’ils cherchent ma face et s’ils se détournent de leurs mauvaises voies, je
                    les exaucerai des cieux, je leur pardonnerai leur péché et je guérirai leur pays."</h6>
                <a class="btn btn-white btn-rounded orange-text font-weight-bold ml-lg-0 wow fadeInLeft"
                   data-wow-delay="0.4s">2 Chroniques 7.14</a>
            </div>


            <div class="col-md-12 col-lg-5 mt-5 mt-md-5">
                <div class="row">
                    <div class="col-md-12 mt-md-2 mt-2 wow fadeInRight" data-wow-delay="0.3s">
                        <!-- Card -->
                        <div class="card card-image "
                             style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg);">

                            <!-- Content -->
                            <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                                <div>
                                    <h5 class="pink-text"><i class="fas fa-calendar-week"></i> Annonce</h5>
                                    <h3 class="card-title pt-2"><strong>Annonce Covid-19</strong></h3>
                                    <p>Fermerture temporaire de nos locaux.Nous respectons les interdictions de
                                        rassemblement pour limiter la propagation du virus.<br> Retrouvez-nous en
                                        téléconférence au 01 xx xx xx xx
                                        <br> Jeudi 20H et Dimanche 10H30
                                    </p>
                                    <a class="btn btn-pink" href="/appv/activity#calendar"><i class="fas fa-calendar-alt left"></i> Activités du mois
                                    </a>
                                </div>
                            </div>

                        </div>
                        <!-- Card -->
                    </div>

                    <div class="col-md-12 mt-2 mt-md-2 mb-2 wow fadeInRight" data-wow-delay="0.8s">
                        <!-- Card --->
                        <div class="card">
                            <!-- Card image -->

                            <!-- Card content --->
                            <div class="card-body">
                                <!-- Title --->
                                <div>
                                    <h4 class="card-title left"><strong>Prédication</strong></h4>
                                    <!-- Button -->
                                    <a class="btn-floating btn-action ml-auto mr-4 mdb-color lighten-3 right">
                                        <i class="fas fa-chevron-right pl-1 right"></i>
                                    </a>
                                </div>
                                <hr>

                                <!-- Text --->
                                <p class="card-text mb-3">Some quick example text to build on the card title and make up
                                    the bulk
                                    of the
                                    card's content.
                                </p>
                                <p class="font-small font-weight-bold dark-grey-text mb-1"><i
                                        class="far fa-clock-o"></i>
                                    27/08/2017</p>
                                <p class="font-small grey-text mb-0">Anna Smith</p>
                                <p class="text-right mb-0 font-small font-weight-bold"><a>read more <i
                                        class="fas fa-angle-right"></i></a></p>
                            </div>
                            <!-- Card content --->
                        </div>
                        <!-- Card --->
                    </div>


                </div>
            </div>
        </div>

    </div>
</section>