<!-- Main layout -->
{% load static %}
<main>
   <div class="container-fluid">
      <!-- Section: Analytical panel -->
      <section class="mb-5">
         <!-- Card -->
         <div class="card card-cascade narrower view view-cascade gradient-card-header light-blue lighten-1">
            <div class="view view-cascade gradient-card-header light-blue lighten-1">
               <h4 class="h4-responsive mb-0 font-weight-bold">{{ CHURCH_NAME }}  </h4>
            </div>
         </div>
         <!-- Card -->
      </section>
      <!-- Section: Analytical panel -->

      <!-- Section: users -->
      <section class="section">
         <!-- Grid row -->
         <div class="row">
            <!-- Grid column -->
            <div class="col-md-12 col-lg-7 ">
               <div class="card mb-4">
                  <div class="card-header white-text text-center deep-orange lighten-1">
                     <h4> Informations utilisateur </h4>
                  </div>
                  <div class="card-body">
                     <div class="table-responsive">
                        <table class="table large-header">
                           <tbody>
                           {% if user.is_authenticated %}
                              <tr>
                                 <td>Nom</td>
                                 <td>{{ user.last_name }}</td>
                              </tr>
                              <tr>
                                 <td>Prénom</td>
                                 <td>{{ user.first_name }}</td>
                              </tr>
                              <tr>
                                 <td>Nom d'utilisateur</td>
                                 <td>{{ user.get_username }}</td>
                              </tr>
                              <tr>
                                 <td>email</td>
                                 <td>{{ user.email }}</td>
                              </tr>
                              {% endif %}
                           </tbody>
                        </table>
                     </div>
                     <button
                        class="btn btn-flat grey lighten-3 btn-rounded waves-effect float-right font-weight-bold btn-dash">
                     Changer de mot de passe
                     </button>
                  </div>
               </div>
            </div>
            <div class="col-lg-5 col-md-12">
               <div class="card mb-4">
                  <div class="card-header white-text text-center cyan lighten-1">
                     <h4> Nouvel utilisateur </h4>
                  </div>
                  <!--Card content-->
                  <div class="card-body px-lg-5 pt-0">
                     <!-- Form -->
                     <form class="text-center" style="color: #757575;" action="/appv_admin/home" method="post">
                        {% csrf_token %}
                        <div class="form-row">
                           <div class="col">
                              <!-- First name -->
                              <div class="md-form">
                                 {{ form_new_user.first_name }} 
                                 <label for="id_first_name">Pénom  </label>
                                
                              </div>
                           </div>
                           <div class="col">
                              <!-- Last name -->
                              <div class="md-form">
                                 {{ form_new_user.last_name }} 
                                 <label for="id_last_name">Nom  </label>
                              </div>
                           </div>
                        </div>
                        <!-- username -->
                        <div class="md-form mt-0">
                           {{ form_new_user.username }} 
                           <label for="id_username">Nom d'utilisateur</label>
                        </div>
                        <!-- E-mail -->
                        <div class="md-form mt-0">
                           {{ form_new_user.email }} 
                           <label for="id_email">E-mail</label>
                        </div>
                        <!-- Password -->
                        <div class="md-form">
                           {{ form_new_user.password }} 
                           <label for="id_password">Mot de passe</label>
                           <small id="id_password_help" class="form-text text-muted mb-4">
                           At least 8 characters and 1 digit
                           </small>
                        </div>

                        <!-- Sign up button -->
                        <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign in</button>

                     </form>
                     <!-- Form -->
                  </div>
               </div>
            </div>
         </div>
      </section>
      <!-- Section: users -->
   </div>
</main>
<!-- Main layout -->